doctype html
html
  head
    title Franchino

    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    meta(name='description', content='Deliver immersive in-location mobile experiences that increase foot traffic, deepen customer relationships, and inspire loyalty.')
    meta(name='author', content='TAPCENTIVE, inc.')
    meta(name='copyright', content='TAPCENTIVE, inc. Copyright (c) 2014')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

    link(rel='stylesheet' href='/css/foundation.css')
    link(rel='stylesheet' href='/css/app.min.css')
    link(rel='stylesheet' href='/css/icon-font.css')
    link(rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css')
        

    script(src='/lib/devicejs/lib/device.js')
    script(src='/socket.io/socket.io.js') 
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/20140216/jquery.cycle2.min.js')
    script(src='https://code.ionicframework.com/1.0.0-beta.13/js/ionic.bundle.min.js')
    script(src='cordova.js')
    script(src='/lib/underscore/underscore.js')
    script(src='/lib/angular-socket-io/socket.js')
    script(src='/js/application.js')
    script(src='/js/jquery-scrolltofixed-min.js', type='text/javascript')

    style.

      body ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      }
      .main {
      margin: 0 auto;
      }
      .banner {
      background-color: #4a229c;
      padding: 20px;
      padding-top: 80px;
      padding-bottom: 80px;
      }
      .title {
      font-size: 140%;
      font-weight: bold;
      }
      .header {
      background-color: #eee;
      padding: 20px;
      }
      .header.scroll-to-fixed-fixed {
      color: red;
      width:100% !important;
      }
      .content {
      padding: 20px;
      overflow: hidden;
      }
      .footer {
      background-color: #eee;
      padding: 20px;
      clear: both;
      }
      .footer.scroll-to-fixed-fixed {
      color: red;
      }
      .footer-content {
      background-color: #aaa;
      padding: 20px;
      }
      .demos li {
      margin-bottom: 20px;
      }
      .left {
      float: left;
      width: 680px;
      }
      .right {
      float: left;
      margin-left: 40px;
      }
      .summary {
      background-color: #4a229c;
      color:#fff !important;
      overflow: hidden;
      margin-top: 20px;
      }
      .summary .caption {
      font-size: 12pt;
      font-weight: bold;
      padding: 5px;
      }
      .summary.scroll-to-fixed-fixed {
      margin-top: 0px;
      }
      .summary.scroll-to-fixed-fixed .caption {
      color: red;
      }
      .contents {
      width: 150px;
      margin: 10px;
      font-size: 80%;
      }




  body(ng-app='Franchino' animation='slide-left-right-ios7', ng-controller='AppCtrl', style='zoom:1;')
    ul
      li.banner
        .main
          .row
            .large-12.columns.centered-text.first-header
              img(src='./img/logo.png', style='height:100px;margin-top:5%;')
              h3(style='margin-bottom:5px;color:#fff !important;margin-top:-5%;') The Young Turing Academy 
              h4(style='color:#fff !important;font-size:1.3em;margin-top:20px;') Youth computer science training culturing and society
   
      li.header(style='z-index: auto; position: static; top: auto;background-color: #562dab;')
        .main
          .row
            .large-12.columns.centered-text
              .nav
                a(href='/', style='') Interests &nbsp; 
                a(href='/#/resume', style='') Capabilities &nbsp;
                a(href='/#/blog', style='') Membership &nbsp;
                a(href='/#/contact', style='') Curriculum  &nbsp;
                a(href='/#/contact', style='') Board &nbsp;
                a(href='/#/contact', style='') Foundation &nbsp;
      ng-include(src="'main.html'")
      li.footer
      li.footer-content
    
        
    
    



