ion-view.homepage-hero
  ng-include(src="'actionsheet.html'")
  ion-content(padding='true', scroll='true')
    ion-slide-box
      ion-slide
        div.mobile-heros
          h1 Hello!
            br
            strong I'm Franchino
          h3 pronounced (fran-KEY-no)
            br
            br
            img(src='./img/frank.png', style='margin-top: 0%;')
          h3 You're on my mobile site!
            br
            | You must not be at your desk.
            br
            br
            | Swipe around and get to know me.
            
      ion-slide
        div.mobile-heros(style='padding:10px 20px 0 20px;')
          h1 I am an 
            br
            | Experience Designer
            br
            | and Front-End MVC Developer
            br
            br
            strong ...whatever that means
          h3 Here are some quick links so we can cut to the chase:
            br
            br
            a(href='#/resume', style='padding-top: 40px;') Resume
            br
            br
            br
              

      ion-slide
        div.mobile-heros(ng-controller='ContactSheetCtrl', style='padding:10px 20px 0 20px;')
          h1 Here is a
            br
            | funny gif that has
            br
            | nothing to do with anything
            br
            br
            img(src='http://i.imgur.com/NAn3ojT.gif', style='margin-top: 0%;')
            br
            br
            button.button(ng-click='showActionsheet()') Contact Me
            br
            br
      